*.o
*.gmo
*.policy
Makefile
Makefile.in
Makefile.in.in
mousepad.desktop
mousepad.appdata.xml
MousepadHelp
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
docs/manual/C/Mousepad.xml
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
/m4/
missing
mkinstalldirs
mousepad/.deps/
mousepad/mousepad
mousepad/mousepad-dbus-infos.c
mousepad/mousepad-dbus-infos.h
mousepad/mousepad-marshal.c
mousepad/mousepad-marshal.h
/mousepad/mousepad-prefs-dialog-ui.h
/mousepad/mousepad-settings.gschema.valid
/mousepad/org.xfce.mousepad.gschema.valid
mousepad/mousepad-window-ui.h
po/.intltool-merge-cache*
po/POTFILES
po/stamp-it
stamp-h1
